In [2]:
import pandas as pd 
import plotly.express as px

In [16]:
# enter API key

api_token = 'pk.eyJ1IjoicmJvbnlhbmdvIiwiYSI6ImNrbDFjZm52ZDB1Z20yd3BlcnJ6aHA0emoifQ.Ke5vBa4y356n2rqCTVbw6w'

In [5]:
px.data.gapminder()
Gapminder = px.data.gapminder()
Gapminder

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [6]:
Gapminder.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165877     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

The mean life expectancy of all the Asian countries according to the data.

In [10]:
Gapminder.loc[Gapminder['continent']== 'Asia']

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1675,"Yemen, Rep.",Asia,1987,52.922,11219340,1971.741538,YEM,887
1676,"Yemen, Rep.",Asia,1992,55.599,13367997,1879.496673,YEM,887
1677,"Yemen, Rep.",Asia,1997,58.020,15826497,2117.484526,YEM,887
1678,"Yemen, Rep.",Asia,2002,60.308,18701257,2234.820827,YEM,887
1679,"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887

In [11]:
Gapminder['lifeExp'].mean()

59.47443936619713

In [13]:
Gapminder['lifeExp'].value_counts()

69.390    4
78.770    3
66.800    3
76.420    3
71.080    3
         ..
72.178    1
60.026    1
53.319    1
79.050    1
50.654    1
Name: lifeExp, Length: 1626, dtype: int64

In [ ]:
# data preparation
dataCL = Gapminder.loc[:,["Fare","Pclass","Pclass2"]]
fig = px.scatter_mapbox(Gapminder, lat="lat", lon="lng", hover_name="admin", hover_data=["city", "population"],
                        color_discrete_sequence=["fuchsia"], zoom=3, height=750)
fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()